<style>

img {
	height: 200px;
	width: 200px;
	border: 2px solid black;
}

p{
	font-size: 18px;
	color:black;
}

body{
	background-color: green;
}

img {
	display: none;
}

</style>

<script>
$('document').ready(function(){
  $('img').fadeIn(3500);  
});
</script>

<h1>Pictures of</h1>

<h2><%= @greeting.swapcase %></h2>


<%- @pictures.each do |picture| %>
	<p> author </p>
	<p><img src=<%= picture %>></p>
	<p> url: <a href=<%= picture %>> Click ME! </a> </p>
	<br>
<% end %>