<h1>Pictures!</h1>


<%- @pictures.each do |picture| %>
  <div class = "box">
	<p><strong> <%= picture.title %></strong> </p>
	<p><img src="<%= picture.url %>"></p>
	<p><em>Artist: <%= picture.artist %></em></p>
	</div>
<% end %>