<script>
$('document').ready(function(){
  $('img').fadeIn(3500);  
});
</script>

<h1>Awesome Pics</h1>

<!-- <h2><%= @greeting.swapcase %></h2> -->


<%- @pictures.each do |picture| %>
	<p><strong> <%= picture[:title] %></strong> </p>
	<p><img src="<%= picture[:url] %>"></p>
	<p><em>Artist: <%= picture[:artist] %></em></p>
	<br>
<% end %>