/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

img {
	height: 200px;
	width: 200px;
	border: 2px solid black;
}

p{
	font-size: 18px;
	color:white;
}

body{
	background: url(http://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg);
	color:white;
}

img {
	display: none;
}

h1{
	font-size: 35px;
	color: yellow;
}

h2{
	color: red;
	font-size 25px;
}