/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.box{
	display: inline-block;
  width: 250px;
  height: 320px;
  margin: 1em;
  border: 1px solid white;
  background-color: black;
  opacity: .65;
}

.box:hover{
	opacity: .85;

}

img {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	vertical-align:middle;
}

p{
	font-size: 18px;
	color:white;
	text-align: center;
}

body{
	background: url("http://users.telenet.be/memphis/temp/desktops/IMG3ONSPOXBHS.jpg");
	color:white;
}


h1{
	font-size: 35px;
	color: white;
	text-align:middle;
	padding-left: 20px;
}